version: "3.9"
services:
    postgres:
        image: postgres:14-alpine
        container_name: postgres-14
        restart: always
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=blog_realworld_db
        healthcheck:
            test: ["CMD", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 5
        ports:
            - "5432:5432"
        volumes:
            - data_volume:/var/lib/postgresql/data
        networks:
            - blog_realworld_network

    scylla-node1:
        container_name: scylla-node1
        image: scylladb/scylla:5.2.0
        restart: always
        command: --smp 1 --memory 500M --overprovisioned 1 --api-address 0.0.0.0
        ports:
            - "9042:9042"
        volumes:
            - scylla_data_volume:/var/lib/scylla
        networks:
            - blog_realworld_network

volumes:
    data_volume:
    scylla_data_volume:

networks:
    blog_realworld_network:
        driver: bridge
